@import url(/assets/css/utils.css);
@import url(/assets/css/styles.css);
@import url(/assets/css/components/home.css);
@import url(/assets/css/components/about.css);
@import url(/assets/css/components/skills.css);
@import url(/assets/css/components/services.css);
@import url(/assets/css/components/siderbar.css);
@import url(/assets/css/components/queries.css);
@import url(/assets/css/components/qualifications.css);
@import url(/assets/css/components/work.css);
@import url(/assets/css/components/tesmonial.css);
@import url(/assets/css/components/footer.css);