@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');



@media screen and (max-width: 1024px) {
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

button,
input {
    border: none;
    outline: none;
}

.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}

.button {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--skin-color);
    color: var(--title-color);
    padding: 0.75rem 1.4rem;
    border-radius: .25rem;
    font-weight: var(--font-medium);
    position: relative;
    z-index: 1;
    transition: .4s;
}

.button::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--mirage-color);
    z-index: -1;
    transform-origin: center;
    transform: scale(0);
    border-radius: .25rem;
    transition: .3s;
}

.button:hover::after {
    transform: scale(1);
}

.section {
    padding: 6.5rem 0 2rem;
}

.section-title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb3);
}

.section-title::before {
    content: attr(data-heading);
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--skin-color);
}

::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--scroll-box-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}




/* Swiper */

.swiper-pagination-bullet {
    background-color: var(--box-color);
}

.swiper-pagination-bullet-active {
    background-color: var(--skin-color);
}

/* Main - Contact */

.contact-container {
    grid-template-columns: 300px 340px;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.contact-info {
    display: grid;
    row-gap: 1rem;
}

.contact-card {
    background-color: var(--box-color);
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
}

.contact-card-icon {
    font-size: 1.8rem;
    color: var(--title-color);
    margin-bottom: var(--mb025);
}

.contact-card-title,
.contact-card-data {
    font-size: var(--small-font-size);
}

.contact-card-title {
    font-weight: var(--font-medium);
}

.contact-card-data {
    display: block;
    margin-bottom: var(--mb075);
}

.contact-button {
    color: var(--skin-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
    cursor: pointer;
}

.contact-button-icon {
    font-size: 1rem;
    transition: .4s;
}

.contact-button:hover .contact-button-icon {
    transform: translateX(.25rem);
}

.input-container {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1.9rem;
}

.input {
    width: 100%;
    border: 2px solid var(--text-color);
    background-color: transparent;
    padding: 0.6rem 1.2rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
    letter-spacing: .5px;
    border-radius: .5rem;
    outline: none;
    transition: .4s;
}

textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 140px;
    border-radius: .5rem;
    resize: none;
    font-family: var(--body-font);
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    padding: 0 .4rem;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: var(--font-medium);
    pointer-events: none;
    z-index: 15;
    transition: .5s;
}

.input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
}

.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: var(--small-font-size);
    padding: 0 .4rem;
    pointer-events: none;
    z-index: var(--z-fixed);
    color: transparent;
}

.input-container span::before,
.input-container span::after {
    content: '';
    position: absolute;
    width: 10%;
    opacity: 0;
    height: 5px;
    background-color: var(--body-color);
    top: 50%;
    transform: translateY(-50%);
    transition: .4s;
}

.input-container span::before {
    left: 50%;
}

.input-container span::after {
    right: 50%;
}

.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: var(--smaller-font-size);
}

.input-container.focus span::before,
.input-container.focus span::after {
    width: 50%;
    opacity: 1;
}


