:root {
    --hue-color: 242;

    --skin-color: hsl(342, 92%, 46%);
    --mirage-color: hsl(210, 10%, 23%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 85%);
    --body-color: hsl(var(--hue-color), 19%, 5%);
    --box-color: hsl(var(--hue-color), 14%, 10%);
    --scroll-box-color: hsl(var(--hue-color), 12%, 38%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);

    --body-font: 'Poppins', sans-serif;
    --signature-font: 'Turret Road', sans-serif;

    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    --font-medium: 500;
    --font-bold: 600;

    --mb025: .25rem;
    --mb05: .5rem;
    --mb075: .75rem;
    --mb1: 1rem;
    --mb15: 1.5rem;
    --mb2: 2rem;
    --mb25: 2.5rem;
    --mb3: 3rem;

    --z-fixed: 10;
    --z-modal: 100;

}