/* Main - Qualification */

.qualification-container {
    grid-template-columns: repeat(2, 340px);
    column-gap: 3rem;
    justify-content: center;
}

.qualification-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb2);
}

.timeline-item {
    position: relative;
    margin-bottom: var(--mb25);
    padding-left: 3rem;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    left: 0.48rem;
    top: 0;
    height: 100%;
    background-color: var(--skin-color);
}

.circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    background-color: var(--skin-color);
    transition: .4s;
}

.timeline-item:hover .circle-dot {
    background-color: var(--body-color);
}

.timeline-title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb025);
}

.timeline-text {
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb1);
}

.timeline-date {
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: var(--normal-font-size);
    color: var(--skin-color);
}
