/* Media Queries */

@media screen and (max-width: 1408px) {
    .container {
        margin-left: var(--mb25);
        margin-right: var(--mb25);
    }
}

@media screen and (max-width: 1216px) {
    .about-container {
        column-gap: 2.5rem;
    }

    .about-description {
        padding-right: 0;
    }

    .work-container {
        grid-template-columns: repeat(2, 330px);
        gap: 3rem;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        margin-left: var(--mb15);
        margin-right: var(--mb15);
    }

    .sidebar {
        width: 100%;
        z-index: 999;
        transform: translateX(-100%);
    }

    .show-sidebar {
        transform: translateX(0);
    }

    .nav-logo,
    .btn-share {
        display: none;
    }

    .nav-menu {
        height: 100%;
        width: 100%;
        transform: rotate(0deg) translateX(0);
        display: flex;
        justify-content: center;
    }

    .nav-list {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .nav-link {
        padding: 1rem 0;
        line-height: 1.5;
    }

    .nav-link.active-link::after,
    .nav-link:hover::after {
        bottom: 0;
    }

    .nav-close {
        display: block;
    }

    .nav-toggle {
        display: flex;
    }

    .main {
        margin-left: 0;
    }

    .about-container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about-img {
        width: 350px;
    }

    .about-data {
        text-align: center;
    }

    .about-info {
        justify-content: center;
    }

    .about-box {
        padding: 0.75rem .5rem;
    }

    .about-description {
        padding: 0 4rem;
        text-align: center;
    }

    .qualification-container {
        grid-template-columns: repeat(2, 290px);
    }

    .skills-container {
        grid-template-columns: 340px 300px;
    }

    .skills-list {
        row-gap: 1.7rem;
    }

    .work-card {
        padding: 1rem;
    }

    .work-img {
        margin-bottom: var(--mb075);
    }

    .work-title {
        margin-bottom: var(--mb025);
    }

    .services-container {
        grid-template-columns: repeat(3, 220px);
    }

    .testimonial-card {
        padding: 1.25rem 1.5rem;
    }

    .portfolio-item-details {
        margin-bottom: var(--mb15);
    }

    .details-info li {
        margin-bottom: var(--mb05);
    }

    .details-title {
        margin-bottom: var(--mb075);
    }
}

@media screen and (max-width: 768px) {
    .about-img {
        width: 250px;
    }

    .qualification-container {
        grid-template-columns: 290px;
        row-gap: 3rem;
    }

    .skills-container {
        grid-template-columns: 300px;
        row-gap: 3rem;
    }

    .work-container {
        grid-template-columns: 330px;
    }

    .services-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .services-content {
        padding: 3.5rem .5rem 1.25rem 1.5rem;
    }

    .services-icon {
        font-size: 1.5rem;
    }

    .contact-container {
        grid-template-columns: 360px;
        row-gap: 3rem;
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
    }

    .footer-socials {
        justify-self: start;
    }

    .footer-links {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .footer-bg {
        padding: 2rem 0 3rem;
    }

    .footer-copy {
        margin-top: var(--mb3);
    }

    .portfolio-popup-inner {
        width: 420px;
        padding: 2.8rem 1.5rem 2.5rem;
    }

    .portfolio-popup-content {
        grid-template-columns: 1fr;
        row-gap: 1.6rem;
    }

    .details-title {
        font-size: var(--normal-font-size);
    }

    .portfolio-popup-close {
        top: .5rem;
    }
}

@media screen and (max-width: 576px) {
    .nav-toggle {
        right: initial;
        left: 1.5rem;
    }

    .home {
        background-image: none;
        height: initial;
        align-items: initial;
        padding: 7rem 0 2rem;
    }

    .home-container {
        row-gap: 2rem;
    }

    .home-img {
        display: block;
        width: 250px;
        justify-self: center;
    }

    .my-info {
        display: none;
    }

    .home-social {
        left: initial;
        right: -1rem;
        flex-direction: column;
        row-gap: 3.5rem;
    }

    .home-social-follow {
        font-size: var(--smaller-font-size);
        transform: rotate(90deg);
    }

    .home-social-links {
        flex-direction: column;
        row-gap: .25rem;
    }

    .home-social-link {
        font-size: var(--normal-font-size);
    }

    .about-info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about-description {
        padding: 0;
    }

    .services-modal-content {
        padding: 4.5rem 1.5rem 2.5rem;
    }

    .services-modal-description {
        padding: 0;
    }

    .work-container,
    .contact-container {
        grid-template-columns: 300px;
    }

    .footer-container {
        grid-template-columns: 1fr;
    }

    .footer-links {
        justify-self: flex-start;
    }

}

@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb1);
        margin-left: var(--mb1);
    }

    .home-img {
        width: 200px;
    }

    .home-title {
        font-size: var(--h1-font-size);
    }

    .home-subtitle {
        font-size: var(--normal-font-size);
    }

    .about-info {
        grid-template-columns: repeat(2, 1fr);
        row-gap: .5rem;
    }

    .work-container,
    .skills-container,
    .qualification-container,
    .contact-container {
        grid-template-columns: 1fr;
    }

    .skills-title {
        font-size: var(--normal-font-size);
    }

    .work-item {
        font-size: var(--normal-font-size);
    }

    .work-filters {
        column-gap: .25rem;
    }

    .services-container {
        grid-template-columns: max-content;
    }

    .services-content {
        padding-right: 3.5rem;
    }
}