/* Main - Skills */

.skills-container {
    grid-template-columns: 360px 320px;
    column-gap: 3rem;
    justify-content: center;
}

.skills-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.skills-header:not(:last-child) {
    margin-bottom: var(--mb25);
}

.skills-icon,
.skills-arrow {
    font-size: 2rem;
    color: var(--skin-color);
}

.skills-icon {
    margin-right: var(--mb075);
}

.skills-arrow {
    margin-left: auto;
}

.skills-active .skills-arrow {
    transform: rotate(-90deg);
    transition: .4s;
}

.skills-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.skills-subtitle {
    font-size: var(--small-font-size);
}

.skills-list {
    row-gap: 1.8rem;
}

.skills-titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb05);
}

.skills-name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills-bar,
.skills-percentage {
    height: 5px;
    border-radius: .25rem;
}

.skills-bar {
    background-color: var(--box-color);
}

.skills-percentage {
    display: block;
    background-color: var(--skin-color);
}

.skills [data-content] {
    display: none;
}

.skills-active[data-content] {
    display: block;
}

